<header focusOnNavigation class="docs-header-background"
         aria-label="Get started" id="homepage-header">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">MEGARes</h1>
      <h2>Antimicrobial Resistance Database for High-Throughput Sequencing</h2>
    </div>
  </div>
</header>


<div class="center-container">
    <div class="center-content">
        <app-auto-complete></app-auto-complete>
        <ul>
            <li *ngFor="let class of classes">
                <a [routerLink]="getLink(class)">{{ class }}</a>
            </li>
        </ul>
    </div>
</div>
